
@{
    ViewBag.Title = "Entertainment";
}

<section class="entertainment-header">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-md-4 col-md-push-6 col-lg-4 col-lg-push-6 border-left">
            <h2 class="text-center">Collaboration Breeds<br />Attention!</h2>
            <p class="text-center">We are event lovers!</p>
        </div>
        <div class="col-sm-6 col-sm-pull-6 col-md-5 col-md-pull-3 col-lg-4 col-lg-pull-2">
            <img src="@Url.Content("/Content/Images/Entertainment/Entertainment---Tote-image.png")" class="img-responsive" />
        </div>
    </div>
</section>

<section class="entertainment-items">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="@Url.Content("/Content/Images/Entertainment/Entertainment-images_01.png")" class="img-responsive" />
                <h3 class="text-center">Distribution Is Critical</h3>
                <p class="text-center">A proper distribution plan is crucial to the successes of all <span>ad</span>vertising campaigns. It’s the must-have ingredient for staying in the frontal lobe of your customer's minds and that’s why we do what we do; to bring a fun and exciting method of <span>ad</span>vertising to our clients.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="@Url.Content("/Content/Images/Entertainment/Entertainment-images_03.png")" class="img-responsive" />
                <h3 class="text-center">Exposure Is Everything</h3>
                <p class="text-center">Being noticed is great but being seen in the right light and in the accompaniment of influential members of the community is what’s most important. Be remembered, not noticed.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="@Url.Content("/Content/Images/Entertainment/Entertainment-images_05.png")" class="img-responsive" />
                <h3 class="text-center">Activate Your Brand</h3>
                <p class="text-center">By supporting our partners and their events, you create the opportunity for your brand to maintain constant presence throughout the community and your customer’s everyday lives. When you <span>ad</span>vertise in such an active and energetic manner, that’s how you encourage real interaction between impressions and transactions</p>
            </div>
        </div>
    </div>
</section>

<section class="small-town-affairs">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-lg-push-1">
                <img src="@Url.Content("/Content/Images/Entertainment/Entertainment-photo.png")" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6 col-lg-push-1">
                <p>From small town fairs to community festivals, radio remotes, concerts and par<span>ad</span>es to big city gatherings and more!  All these events need fun merchandise to have on hand and that’s where we come in! Our products are given out freely at anything anywhere that people will be at!</p>
                <p>Anybody can advertise on the radio… but only a select few get to be featured on the actual merchandise that radio stations pass out to their listeners! <small><i>*on-air <span>ad</span>vertising is not a prerequisite to participate, nor is it included in the agreement between us and our ra<span>ad</span>io station partners.</i></small></p>
            </div>
        </div>
    </div>
</section>

<section class="mud-run">
    <img src="@Url.Content("/Content/Images/Entertainment/Entertainment---Crowd-Product-Banner-image.png")" class="img-responsive" />
</section>

@section Scripts {
   
}

