@{
    ViewBag.Title = "Home Page";
}


@Html.Partial("_VideoHeader")

<section class="full-service">
    <div class="row">
        <div class="col-xs-12 col-lg-9 center-block">
            <div class="col-xs-12 col-lg-8 center-block">
                <div class="row">
                    <h3 class="text-center">The Full-Service Family Owned & Operated Print <span>Ad</span>vertising Powerhouse.</h3>

                    <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
                    <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
                    <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
                    <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
                    <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
                    <div class="col-xs-2 col-sm-2 col-md-2"><hr class="dotted-line" /></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="row blocks">
                        <h4 class="text-center">Creative</h4>
                        <img src="@Url.Content("~/Content/Images/Home/Connectivity-e1510328672837.png")" class="img-responsive center-block" />
                        <p class="text-center">We'll Create Your Free <span>Ad</span> Copy Today</p>
                    </div>
                    <div class="bw row">             
                        <button type="button" class="btn btn-default red">Learn More</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="row blocks">
                        <h4 class="text-center">Distribution</h4>
                        <img src="@Url.Content("~/Content/Images/Home/Creativity-e1510328661658.png")" class="img-responsive center-block" />
                        <p class="text-center">Request a List of Distributors Located Near You</p>
                    </div>
                    <div class="bw row">
                        <button type="button" class="btn btn-default red">Get Started</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="row blocks">
                        <h4 class="text-center">Solutions</h4>
                        <img src="@Url.Content("~/Content/Images/Home/ROI-e1510328648493.png")" class="img-responsive center-block" />
                        <p class="text-center">Downlo<span>ad</span> Your Free Industry Report Now</p>
                    </div>
                    <div class="bw row">
                        <a href="https://uac4u.clickfunnels.com/optin18566809" target="_blank" class="btn btn-default red">Click Here</a>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="knowledge">
    <div class="row">
        <div class="col-lg-8 center-block">
            <h3 class="text-center">"When Knowledge Meets Creativity, <span>Ad</span>vertising Happens"</h3>
        </div>
    </div>
</section>

<section class="partner" id="partner">
    <div class="row">
        <div class="col-lg-8 center-block">
            <h3 class="text-center">
                The Proud Parent of <span>9</span> Industry
                Le<span>ad</span>ing Print Companies
            </h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="circle center-block">
                        <div class="circle-block">
                            <h5 class="text-center">124K</h5><p class="text-center">SATISFIED CUSTOMER</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="circle center-block">
                        <div class="circle-block">
                            <h5 class="text-center">44</h5><p class="text-center">YEARS OF EXP.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="circle center-block">
                        <div class="circle-block">
                            <h5 class="text-center">2,789</h5><p class="text-center">COUNTY PARTNERS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4">
                    <div class="circle center-block">
                        <div class="circle-block">
                            <h5 class="text-center">400+</h5><p class="text-center">DAILY DESIGNS</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4  col-md-4 col-lg-4">
                    <div class="circle center-block">
                        <div class="circle-block">
                            <h5 class="text-center">7,678</h5><p class="text-center">ACTIVE DISTRIBUTORS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients m-top-50">
    <div class="row">
        <div class="col-lg-8 center-block">
            <h5 class="text-center">~ Some of Our Awesome Clients</h5>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/KW.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Allstate-Ins.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Hooters.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Chilis.png")" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Remax.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/American-Red-Cross.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Little-Caesars.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Longhorn.png")" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Century21.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Pizza-Hut.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Culligan.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Habitat.png")" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/American-Legion.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Hyatt.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/H.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Sonic.png")" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Subway.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/State-Farm.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Perkins.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Dominos.png")" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Ace.png")" class="img-responsive" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Waffle-House.png")" class="img-responsive" />

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/DQ.png")" class="img-responsive" />

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Papa-Johns.png")" class="img-responsive" />

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Americas-Best-Value.png")" class="img-responsive" />

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Dignity.png")" class="img-responsive" />

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="@Url.Content("~/Content/Images/Home/Mary-Kay.png")" class="img-responsive" />

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    @*<img src="@Url.Content("~/Content/Images/Home/Ace.png")" class="img-responsive" />*@
                </div>
            </div>
            <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
            <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
            <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
            <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
            <div class="col-xs-2 col-sm-2col-md-2"><hr class="dotted-line" /></div>
            <div class="col-xs-2 col-sm-2 col-md-2"><hr class="dotted-line" /></div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/Scripts/Home.js")    
}

