<div class="navbar navbar-inverse navbar-fixed-top nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="nav-icon">
                <span id="iconSwitch" class="glyphicon glyphicon-plus"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="show-for-small float-right">
                <img src="@Url.Content("~/Content/Images/Logo.png")" />
            </a>
        </div>
        <div class="container-fluid slide-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 center-block">
                    <div class="col-sm-3 col-sm-push-1 col-md-4 col-md-push-1 col-lg-5 col-lg-push-1">
                        <a href="@Url.Action("Index", "Home")" class="hide-for-small">
                            <img src="@Url.Content("~/Content/Images/Logo.png")" />
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-8 col-lg-7 col-lg-push-1">
                        <ul class="navbar-nav">
                            <li>@Html.ActionLink("How it Works", "HowItWorks", "Home")</li>
                            <li class="dropdown">
                                @Html.ActionLink("Programs", "About", "Home", null, new { @class = "dropdown-toggle" })
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>@Html.ActionLink("County", "County", "Home")</li>
                                    <li>@Html.ActionLink("Pizza", "Pizza", "Home")</li>
                                    <li>@Html.ActionLink("Schools", "Schools", "Home")</li>
                                    <li>@Html.ActionLink("Entertainment", "Entertainment", "Home")</li>
                                </ul>
                            </li>
                            <li class="show-for-small">@Html.ActionLink("County", "County", "Home")</li>
                            <li class="show-for-small">@Html.ActionLink("Pizza", "Pizza", "Home")</li>
                            <li class="show-for-small">@Html.ActionLink("Schools", "Schools", "Home")</li>
                            <li class="show-for-small">@Html.ActionLink("Entertainment", "Entertainment", "Home")</li>
                            <li>@Html.ActionLink("Products", "Products", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Media", "Index", "Blog")</li>
                            @if (User.IsInRole("Admin"))
                            {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LoginPartial")

